.q-option:hover {
    background-color: rgba(141, 190, 251, 0.66);
    color: white;
}

.green {
    background-color: green;
    color: white;

}

.red {
    background-color: red;
    color: white;
}